<div class="card">
    <div class="card-img">
      <img src={{specificDoctor.image}} alt="Image">
    </div>
    <div class="card-content">
      <h2 class="card-title">NAME: {{specificDoctor.name}}</h2>
      <p class="card-description">GENDER: {{specificDoctor.gender}}</p>
      <p class="card-description">CITY: {{specificDoctor.address.city}}</p>
      <p class="card-description">PHONE: {{specificDoctor.phone}}</p>
      <table class="table">
        <thead>
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{specificDoctor.availability.Monday}}</td>
            <td>{{specificDoctor.availability.Tuesday}}</td>
            <td>{{specificDoctor.availability.Wednesday}}</td>
            <td>{{specificDoctor.availability.Thursday}}</td>
            <td>{{specificDoctor.availability.Friday}}</td>
          </tr>
        </tbody>
      </table>
      
      <div class="btns">
      <button class="btn_appoint" (click)="gotoAppointment()">Take Appointment</button>
      <button class="btn_online">Schedule Online</button>
    </div>
    </div>
  </div>
  