<div class="card">
    <div class="card-img">
      <img src={{specificDoctor.imageOfDoctor}} alt="Image">
    </div>
    <div class="card-content">
      <h2 class="card-title">NAME: {{specificDoctor.nameOfDoctor}}</h2>
      <br>
      <p class="card-description">Gender/Age: {{specificDoctor.gender}}/{{specificDoctor.age}}</p>
      <p class="card-description1">Clinic Address: {{specificDoctor.clinincAddress}}</p>
      <p class="card-description2">PHONE: {{specificDoctor.phone}}</p>
      <p class="card-description">Speciality: {{specificDoctor.speciality}}</p>
      <p class="card-description1">Fees: {{specificDoctor.fees}}</p>
      <p class="card-description2">Reviews: {{specificDoctor.reviews[0].points}}/10 star</p>
      <table class="table">
        <thead>
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{specificDoctor.appointmentTimeSlots.Monday || "-"}}</td>
            <td>{{specificDoctor.appointmentTimeSlots.Tuesday || "-"}}</td>
            <td>{{specificDoctor.appointmentTimeSlots.Wednesday || "-"}}</td>
            <td>{{specificDoctor.appointmentTimeSlots.Thursday || "-"}}</td>
            <td>{{specificDoctor.appointmentTimeSlots.Friday || "-"}}</td>
          </tr>
        </tbody>
      </table>
      
      <div class="btns">
      <button class="btn_appoint" (click)="gotoAppointment()">Take Appointment</button>
    </div>
    </div>
  </div>
  