mat-toolbar {
    color: white;
  }
  ul li {
    list-style: none;
  }
  button {
    outline: none;
    border: 0;
    background: transparent;
  }
  .user {
    font-size: 14px;
  }
  
  .user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .user-image-icon {
    height: 18px;
    font-size: 16px;
  }

  /*---------------------------------Side navbar-------------------*/
  mat-sidenav {
    margin-top: 5px;
    width: 200px;
    border-right: none;
    color: white;
    padding: 16px;
    text-align: center;
    background-color: #3f51b5;
    height: 85vh;
  }
  .content {
    height: calc(100vh - 100px);
    margin: 7px;
    margin-left: 15px;
    padding: 16px;
    overflow: hidden;
    width: 78.2vw;
  }
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }
  .menu-button mat-icon {
    margin-right: 8px;
  }
  .logo {
    margin-top: 16px;
    width: 80px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 8px;
  }
  
  .name {
    margin-top: 8px;
    font-weight: normal;
    color: white;
  }
  
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }

span {
  color: white;
}

mat-icon {
  color: white;
}

mat-sidenav-content {
  overflow: hidden;
  height: 86vh;
}