<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="info-box-4 hover-zoom-effect" style="background-color: #78b83e !important;">
            <div class="icon"><i class="fa fa-solid fa-user" style="color: white"></i></div>
            <div class="content">
                <div class="text">New Patient</div>
                <div class="number">27</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="info-box-4 hover-zoom-effect" style="background-color: #F15F79 !important;">
            <div class="icon"> <i class="fa fa-solid fa-user " style="color: white"></i></div>
            <div class="content">
                <div class="text">OPD Patient</div>
                <div class="number">12</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="info-box-4 hover-zoom-effect" style="background-color: #457fca !important;">
            <div class="icon"><i class="fa fa-solid fa-user" style="color: white"></i> </div>
            <div class="content">
                <div class="text">Today's Operations</div>
                <div class="number">05</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="info-box-4 hover-zoom-effect" style="background-color: #607D8B !important;">
            <div class="icon"><i class="fa fa-solid fa-user" style="color: white"></i> </div>
            <div class="content">
                <div class="text">Hospital Earning</div>
                <div class="number">$3,540</div>
            </div>
        </div>
    </div>
</div>


<div class="header">
    <h4>New Patient List</h4>
</div>
<div class="body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Diseases</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Virginia </td>
                <td>Rose</td>
                <td>@Rose</td>
                <td><span class="label label-danger">Fever</span> </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Julie </td>
                <td>Gaylord</td>
                <td>@Julie </td>
                <td><span class="label label-info">Cancer</span> </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Jacqueline </td>
                <td>Woods</td>
                <td>@Woods</td>
                <td><span class="label label-warning">Lakva</span> </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Jonathan </td>
                <td>Lewis</td>
                <td>@Jonathan </td>
                <td><span class="label label-success">Dental</span> </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Margaret </td>
                <td>Griffin</td>
                <td>@Margaret </td>
                <td><span class="label label-info">Cancer</span> </td>
            </tr>
            <tr>
                <td>6</td>
                <td>Joseph </td>
                <td>Hunter</td>
                <td>@Hunter</td>
                <td><span class="label label-success">Dental</span> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>