<button class="btn" (click)="addDoctor()">Add Doctor</button>
<div class="container"> 
    <div class="card" *ngFor="let doctor of doctors">
      <div class="imgBx">
        <img src="{{doctor.imageOfDoctor}}" alt="">
      </div>
      <div class="details">
        <div class="content">
          <h2> {{doctor.nameOfDoctor
          }} <br>
            <span> {{doctor.gender}} | {{doctor.age}}</span>
          </h2>
          <ul>
            <li><a> {{doctor.clinincAddress}} </a></li>
            <li><a> {{doctor.speciality[0]}} | {{doctor.speciality[1]}} </a></li>
            <li><a> {{doctor.keywordsRelatedToSpeciality[0]}} | {{doctor.keywordsRelatedToSpeciality[1]}} </a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>